{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="margn-top">
<div class="jumbotron max-w">
    <h3>This is demo for Nlp data generation </h3>

    <h3>please upload only pdf file </h3>

      <form method="post" action=""  enctype="multipart/form-data">
          {% csrf_token %}
          <label class="file">
            <input type="file" id="file" name="myfile" aria-label="File browser example">
            <span class="file-custom"></span>
          </label>
          <br>
          <label class="enter-fld">Enter category
            <input type="text" name="category">
          </label>
          <label class="enter-fld">Enter Title 
            <input type="text" name="doc_title">
          </label><br>
          <button class="btn btn-primary" type="submit">Upload</button>
      </form>
        <br>
        <p style="text-align:center; color: #2e6da4; font-size: 1.5em ">Under Development</p>
</div>
</section>
<footer>
    <p>{% include "footer.html" %}</p>
</footer>
{% endblock %}
